body {
    margin: 0;
    overflow: hidden;
}

.contenedor {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.contenido {
    text-align: center;
    color: white;
    z-index: 1;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 1.2em;
}

.formulario {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

input {
    font-size: 1em;
    padding: 10px;
}

button {
    font-size: 1em;
    padding: 10px;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Ajustado a 100vw para ocupar toda la anchura de la pantalla */
    height: 100vh; /* Ajustado a 100vh para ocupar toda la altura de la pantalla */
    z-index: 0;
}
