body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 50px;
    background-color: #f5f5f5; /* Cambiar el color de fondo */
    color: #333; /* Cambiar el color del texto */
}

#formulario {
    margin-bottom: 20px;
    background-color: #fff; /* Cambiar el color de fondo del formulario */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Agregar sombra al formulario */
}

button {
    background-color: #4caf50; /* Cambiar el color del botón */
    color: #fff; /* Cambiar el color del texto del botón */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
